<header class="header">
  <div class="header__logo">
    <a href="/">Ale-3D-Sandbox</a>
  </div>

  <button
    class="header__toggle"
    [attr.aria-expanded]="isMenuOpen()"
    (click)="toggleMenu()"
    aria-label="Abrir o cerrar menú"
  >
    <span></span>
    <span></span>
    <span></span>
  </button>

  <nav class="header__nav" [attr.data-visible]="isMenuOpen()">
    @for (item of navItems; track item.route) {
    <a [routerLink]="item.route" class="header__nav-item" (click)="toggleMenu()"> {{ item.title }} </a>
    }
  </nav>
</header>
